h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
h2 {
    color: blue;
    text-decoration: blue underline wavy;
    font-size: 35px;
}

a {
    color: #ff0040;
    text-decoration: none;
}

p {
    font-size: 20px;
}

button {
    color:bisque;
    background-color: brown;
}

body {
    background-color: #fdeded;
}